.brandHover {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.brandHover::before,
.brandHover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

.brandHover::before {
  top: 0;
  left: 0;
}

.brandHover::after {
  bottom: 0;
  right: 0;
}

.brandHover:hover::before {
  width: 100%;
}

.brandHover:hover::after {
  width: 100%;
}

.nav-link-jiggle:hover {
  animation: jiggle 0.8s ease infinite;
}

.nav-link-jiggle {
  margin-right: 3px;
  border-right: 1px solid white;
  padding-right: 10px;
}

@keyframes jiggle {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(5);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(5px);
  }
}
